<div class="w-full h-full flex items-center justify-center">
  @if (false) {
  <ngb-carousel class="w-9/12 h-4/12 m-3">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src='assets/images/chalo-gallardo-F01kfMEodyk-unsplash.jpg' alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src='assets/images/clay-banks-f4M9vQ3M1hY-unsplash.jpg' alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src='assets/images/venti-views-G16PnHWOMRQ-unsplash.jpg' alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  }
</div>

<div class="flex">
  <app-tool-card title="Pdf Merge" description="Simply megre pdfs" toolClass="PDF" path="/pdf/merge"></app-tool-card>

  <app-tool-card title="Pdf Split" description="Simply split pdfs" toolClass="PDF" path="/pdf/split"></app-tool-card>

  <app-tool-card title="Video Edit" description="Simply edit video" toolClass="Video"
    path="/video/edit"></app-tool-card>

  <app-tool-card title="Picture OCR" description="Picture OCR" toolClass="Picture" path="/picture/ocr"></app-tool-card>

  <app-tool-card title="Agile" description="Agile" toolClass="Agile" path="/agile"></app-tool-card>
</div>